.personal {
  background-color: var(--resume-accent);
  color: var(--header-color);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.name {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.contact {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact i {
  margin-right: 8px;
}
